<div class="hero-unit" style="padding:25px;">
  <li>
    <span class="questioncontent"><b><%= question.content %></b></span>
    <b><%=link_to question.stream.stream_name,question.stream %></b>
    <span class="timestamp">
       Posted <%= time_ago_in_words( question.created_at ) %> ago
       by <%= link_to question.user.name , question.user%>
       <% if current_user?(question.user) %>
       <%= link_to "delete", question, method: :delete,confirm: "You sure?",title: question.content %>
       <p> Tags: <%= raw question.tag_list.map { |t| link_to t,tag_path(t)}.join(', ')%> </p> 
    <% end %>
     </span>
       <% if question.replies.any? %>
       <% @replies = question.replies.paginate(page: params[:reply],:per_page => 2)%>
       <%= render 'questions/reply'%>   
       <% end %>
      <% if signed_in? %>
       <% @reply=Reply.new %>
       <%= form_for @reply,:url=>createreply_questions_path do |f| %>
         <%= f.text_area :content, placeholder: "Compose new answer..." %>
         <%= hidden_field_tag 'ques_id',question.id%>
         <%= f.submit "Post", class: "btn btn-large btn-primary" %>
        <% end %> 
       <% end %>

    

    
    
</li>
</div>