<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
   <section>
   <h1>
    <%= @user.name %></br>
    <%= @user.designation %>
   </h1>
<div>
<%= form_for(@user) do |f|%>
<%= f.file_field :image%>
<%= f.submit "Add image"%>
<% end %>
</div>
<div>
<%= button_to "add stream", option_users_path(current_user), :method => "get" %>
</div>


</section>
  </aside>
</div>


