<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
   <section>
   <h1>
    <%= @user.name %></br>
    <%= @user.designation %>
   </h1>
<div>
<%= form_for(@user) do |f|%>
  <%= link_to image_tag("anonymous.png"),edit_user_path(@user) if !@user.image? %>
  <%= image_tag @user.image_url(:thumb) if @user.image?%>
<% end %>
</div>
 <section>
<%= render 'shared/stats' %>
</section>
 <%= button_to "My Files",list_files_path(@user.id),:method=>"get",class: "btn btn-medium btn-primary"%>
</section>


  <%= button_to "All Groups", allgroups_path(current_user),:method=>"get",class: "btn btn-medium btn-primary"%>

  </aside>
  <div >
  	 <aside class="span8">
      <%= render 'follow_form' if signed_in? %>

  	 	<section>
  	 	 
  	 		<% if @user.questions.any? %>
              <h3>Questions (<%= @user.questions.count %>)</h3>
                 <ol class="questions">
                  <%= render @questions %>
                 </ol>
               <%= will_paginate @questions %>
  
            <% end %>
        </section>
     </aside>
  </div>


</div>





