<%= form_for(@question) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<div class="field",style = "width: 250px; height: 200px">
<%= f.text_area :content, placeholder: "Compose new micropost..." %>
</div>
<div class="field",style = "width: 250px; height: 200px">
   <%= f.text_field :tag_list ,placeholder: "Tags(seperated by commas)"%>
</div>	
<%= collection_select(:question, :stream_id, Stream.all, :id, :stream_name, :prompt => "Select stream") %>
<%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>
